/RestaurantReviewsService/packages
/RestaurantReviewsService/.vs
/RestaurantReviewsService/RestaurantReviewServiceRepository/bin
/RestaurantReviewsService/RestaurantReviewServiceRepository/obj
/RestaurantReviewsService/RestaurantReviewsService/Areas
/RestaurantReviewsService/RestaurantReviewsService/fonts
/RestaurantReviewsService/RestaurantReviewsService/Views
/RestaurantReviewsService/TestResults
/RestaurantReviewsService/RestaurantReviewUnitTests/obj
/RestaurantReviewsService/RestaurantReviewUnitTests/bin
/RestaurantReviewsService/RestaurantReviewsService/bin
/RestaurantReviewsService/RestaurantReviewsService/obj
